$colors: (
  common: (
    white: #ffffff,
    black: #171717,
    red: #a21f24,
  ),
  heading: (
    primary: #171717,
    1: #333333,
    2: #141515,
  ),
  grey: (
    1: #adadad,
    2: #f5f6f8,
    3: #f5f5f3,
    4: #a2a2a2,
    5: #a1a1a1,
  ),
  red: (
    1: #ffd8d8,
    2: #ffa7a7,
    3: #ff7d7d,
    4: #fb3535,
    5: #ff0000,
  ),
  text: (
    body: #878787,
    1: #171717,
    2: #9f9f9f,
  ),
  theme: (
    1: #171717,
  ),
  border: (
    1: #d9d9d9,
    2: #f3f3f3,
    3: #d7d7d7,
  ),
);
